.dart_tool/
.idea/
.vscode/
build/
.flutter-plugins
.flutter-plugins-dependencies
android/
ios/
linux/
macos/
windows/
web/build/
test/
**/*.g.dart
**/*.freezed.dart
Dockerfile
.dockerignore
.git/
.gitignore
README.md
